<!DOCTYPE html>

<html>
    <head>

    <body>
        <h1>{{title}}</h1>
        <button id="increment">+1</button>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/chat.js"></script>
        Created by {{name}} using the O'Really tutorial
    </body>
</html>